.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:hover {
  background-color: #c9c9c9;
  color: black;
}

.dropdown-toggle {
  background-color: transparent;
  color: black;
  border: none;
}

.dropdown-toggle:focus {
  background-color: #c9c9c9;
}

.toast-button {
  background-color:transparent;
  border-width: 0px;
  border-radius:5px;
  margin-right: 1vw;
}

#alert {
  width:45%;
  position:absolute;
  z-index:1;
  margin-top:1%;
}